@page "/EditarEmpleado/{EmpleadoId}"

@using CurrieTechnologies.Razor.SweetAlert2
@using FrontCrudEmpleados.Entities.DTOs
@inject SweetAlertService swal
@inject NavigationManager navigationManager
@inject IRepositorio repositorio

<h3>Editar Empleado</h3>

<FormularioEmpleadosEditar Empleado="Empleado" OnValidSubmit="Editar" />
@code
{
    [Parameter] public String EmpleadoId { get; set; }
    private Empleado Empleado = new Empleado();


    protected async override Task OnInitializedAsync()
    {
        var respuestaHTTP = await repositorio.GetById<EmpleadoDTO>($"api/Empleados/{EmpleadoId}");
        EmpleadoDTO empleadoDTO = respuestaHTTP.Response!;
        if (empleadoDTO is not null)
        {
            string nombreCompleto = empleadoDTO.NombreCompleto;
            string[] partes = nombreCompleto.Split(' ');
            string Nombre = partes[0];
            string Apellido = partes[1];
            Empleado.Id = empleadoDTO.Id;
            Empleado.Nombre = Nombre;
            Empleado.Apellido = Apellido;
            Empleado.Cargo = empleadoDTO.Cargo;
            Empleado.Edad = empleadoDTO.Edad;
            Empleado.UrlFoto = empleadoDTO.UrlFoto;
            Empleado.Pais = empleadoDTO.Direccion.Pais;
            Empleado.Linea1 = empleadoDTO.Direccion.Linea1;
            Empleado.Linea2 = empleadoDTO.Direccion.Linea2;
            Empleado.Ciudad = empleadoDTO.Direccion.Ciudad;
            Empleado.Departamento = empleadoDTO.Direccion.Departamento;
            Empleado.Active = empleadoDTO.Active;
        }




    }


    async Task Editar()
    {
        if (string.IsNullOrEmpty(Empleado.UrlFoto))
        {
            Empleado.UrlFoto = " ";
        }
        var httpResponse = await repositorio.Put<Empleado>($"api/Empleados/{EmpleadoId}", Empleado);

        Console.WriteLine(httpResponse.Response);

        if (httpResponse.Error)
        {
            var mensajeError = await httpResponse.ObtenerMensajeError();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            // aca se navega inicio otra vez

            navigationManager
                .NavigateTo($"/");
        }
    }
}  